.DS_Store
*.in
*.out
test
ride
gift1
friday
beads
milk2
transform
namenum
palsquare
dualpal
milk
barn1
calfflac
crypt1
packrec
clocks
ariprog
milk3
numtri
pprime
sprime
checker
castle
frac1
sort3
holstein
hamming
preface
subset
runround
lamps
prefix
nocows
zerosum
money
concom
ttwo
maze1
cowtour
comehome
fracdec
agrinet
inflate
humble
rect1
contact
stamps
fact4
kimbits
spin
ratios
msquare
butter
